matplotlib==3.2.2
seaborn==0.11.1
pandas==1.1.5
numpy==1.22.0
sklearn==0.22.2.post1
scipy==1.4.1
pyclustering==0.10.1.2
hdbscan==0.8.27
umap-learn==0.5.1
xgboost==0.90
mlxtend==0.14.0
shap==0.39.0
pycaret==2.3.3